---
const { title } = Astro.props
---
<section>
    <h2>{title}</h2>
    <slot/>
</section>

<style>
    section {
        padding-top: 10px;
    }

    @media screen and (min-width: 481px) {
        section {
            padding-top: 70px;
        }
    }
</style>